<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/drafter.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/big-board.css">

<div class="recent-picks">
	<div class="last-pick">
		<h2>Last pick:</h2>
	</div>
	<div class="on-the-clock-pick">
		<h2>On the clock:</h2>
	</div>
	<div class="next-pick">
		<h2>Next pick:</h2>
	</div>
</div>

<div class="see-position">
	<div class="player-position all-list unclickable">ALL</div>
	<div class="player-position qb-list">QB</div>
	<div class="player-position rb-list">RB</div>
	<div class="player-position wr-list">WR</div>
	<div class="player-position te-list">TE</div>
	<div class="player-position def-list">DEF</div>
	<div class="player-position k-list">K</div>
</div>

<div class="draft-board">
	<form name="draft-board">
		<div class="select-player all-players">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_all %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player qb-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_qb %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player rb-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_rb %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player wr-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_wr %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player te-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_te %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player def-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_def %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<div class="select-player k-players hidden">
			<select class="big-board" multiple="multiple">
			{% for player in player_list_k %}
				{% if player.available %}
					<option id="{{ player.id }}">{{ player }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
		<button type="submit">Select</button>
	</form>
</div>

<div class="show-roster">
	<div class="team-select">
		<h2>Rosters by team:</h2>
		<select class="team-select-dropdown">
			<option id="none">--------</option>
		{% for team in teams_list %}
			<option id="{{ team.id }}">{{ team }}</option>
		{% endfor %}
		</select>
	</div>

	<div class="roster-board"></div>
</div>